rules_version = '2';

service cloud.firestore {
match /databases/{database}/documents {

// Permite que qualquer utilizador logado leia e escreva na sua própria coleção de utilizadores
match /users/{userId} {
  allow read, write: if request.auth != null && request.auth.uid == userId;
}

// Regra para uma futura coleção de "elencos"
// Permite que um utilizador logado crie, leia, atualize e apague o seu próprio elenco
match /elencos/{userId} {
	allow read, write: if request.auth != null && request.auth.uid == userId;
}

}
}