@use "sass:color";
@use '../../assets/styles/variables' as *;

.btn-primario {
    background-color: var(--cor-primaria);
    border: 1px solid var(--cor-primaria);
    color: var(--cor-texto);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-weight: 500;

    &:hover,
    &:focus {
        filter: brightness(0.9);
    }
}

.btn-secundario {
    background-color: var(--cor-secundaria);
    border: 1px solid var(--cor-secundaria);
    color: #fff; // Texto em botões secundários geralmente é branco para contraste
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-weight: 500;

     &:hover,
    &:focus {
        filter: brightness(0.9);
    }
}

.btn-outline-primario {
    background-color: transparent;
    border: 1px solid var(--cor-primaria);
    color: var(--cor-primaria);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-weight: 500;

    &:hover,
    &:focus {
        background-color: var(--cor-primaria);
        color: var(--cor-texto);
    }
}

.btn-outline-secundario {
    background-color: transparent;
    border: 1px solid var(--cor-secundaria);
    color: var(--cor-secundaria);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-weight: 500;

    &:hover,
    &:focus {
        background-color: var(--cor-secundaria);
        color: #fff;
    }
}

.btn-success {
    background-color: var(--cor-sucesso);
    border: 1px solid var(--cor-sucesso);
    color: var(--cor-texto-sucesso);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-weight: 500;
}

.hover-scale {
    transition: transform 0.2s ease;

    &:hover {
        transform: scale(1.05);
    }
}

