:root {
  // Tema Claro (Padrão)
  --cor-primaria: #f0ad4e;
  --cor-primaria-rgb: 240, 173, 78;
  --cor-fundo: #f8f9fa;
  --cor-fundo-secundaria: #e9ecef;
  --cor-fundo-card: #ffffff;
  --cor-fundo-input: #ffffff;
  --cor-texto: #495057;
  --cor-texto-forte: #212529;
  --cor-borda: #ced4da;
  --cor-borda-suave: #f1f3f5;
  --cor-sucesso: #28a745;
  --cor-texto-botao: #212529;
}

[data-theme='dark'] {
  // Tema Escuro
  --cor-primaria: #f0ad4e;
  --cor-primaria-rgb: 240, 173, 78;
  --cor-fundo: #121212;
  --cor-fundo-secundaria: #1e1e1e;
  --cor-fundo-card: #2a2a2a;
  --cor-fundo-input: #212529;
  --cor-texto: #adb5bd;
  --cor-texto-forte: #e9ecef;
  --cor-borda: #495057;
  --cor-borda-suave: #343a40;
  --cor-sucesso: #28a745;
  --cor-texto-botao: #212529;
}

// Mapa de breakpoints para usar nas media queries
$breakpoints: (
  'sm': 576px,  // Celulares em paisagem
  'md': 768px,  // Tablets
  'lg': 992px   // Desktops pequenos
);

