.level-selector-stars {
    display: flex;
    gap: 0.25rem;
    cursor: pointer;

    .star {
        // Adiciona uma transição suave para a cor e um pequeno "pulo" ao passar o mouse
        transition: color 0.2s ease-in-out, transform 0.1s ease-in-out;
    }

    // Aumenta ligeiramente a estrela sob o cursor para um feedback tátil
    label:hover .star {
        transform: scale(1.2);
    }
}

